<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <%- include('navbar', { liks: links }); %>
        <div class="container">
            <div id="<%= message.id %>" class="card">
                <h4><%= message.username %></h4>
                <p><%= message.message %></p>
                <p class="message-date" data-date="<%= message.date_added.toISOString() %>">
                    Loading...
                </p>
            </div>
        </div>
        <%- include('footer'); %>
        <script src="/js/messages.js"></script>
    </body>
</html>
